@import "../../../node_modules/sass-mediascreen/mediascreen";

.header {
  display: flex;
  justify-content: space-between;
}

.user__container {
  & > .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
    @include device(mobile) {
      flex-direction: column;
    }
  }
}

.top__textArea {
  width: 400px;
  @include device(mobile) {
    width: 320px;
    margin-bottom: 15px !important;
  }
}
.button {
  width: 270px;
  height: 55px;
  @include device(mobile) {
    width: 320px;
    height: 45px;
  }
}
