.container {
  & > .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > .avatar {
      background-color: rgb(220, 0, 78);
    }
    & > .form {
      margin-top: 20px;
      & > .btn {
        margin-top: 15px;
      }
    }
  }
}

.role {
  flex-direction: row !important;
  justify-content: space-between;
  margin: 15px 0px;
}

.thumbsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 16;
  padding: 20;
}

.thumb {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
  }
}

.img {
  display: block;
  width: auto;
  height: 30px;
}
.img__trash {
  display: block;
  height: 30px;
  cursor: pointer;
  border-color: #d3d4d4;
  background-color: #fff;
  justify-content: center;
  padding: 0;
  width: 40px !important;
  min-width: 40px;
  border-radius: 5px;
  fill: #d3d4d4;
  &:hover {
    background-color: #e5e5e5;
  }
  & > img {
    width: 40px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.thumbButton {
  position: absolute;
  right: 10;
  bottom: 10;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border: 0;
  border-radius: 0.325em;
  cursor: pointer;
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
}

.fileUploader {
  & > .title,
  & > a {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
