.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  max-width: 100vw;
  height: 85vh;
  & > .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > .avatar {
      background-color: rgb(220, 0, 78);
    }
  }
}
