.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba($color: #7a7c80, $alpha: 0.75);
  width: 100vw;
  height: 100vh;
}
