.container {
  & > .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > .avatar {
      background-color: rgb(220, 0, 78);
    }
    & > .form {
      margin-top: 20px;
    }
  }
}

.role {
  margin: 15px 0px;
}
