@import "../../../node_modules/sass-mediascreen/mediascreen";

.header {
  display: flex;
  justify-content: space-between;
}

.admin__container {
  & > .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
    @include device(mobile) {
      flex-direction: column;
    }
  }
}

.top__textArea {
  width: 400px;
  @include device(mobile) {
    width: 320px;
    margin-bottom: 15px !important;
  }
}

.btn_container {
  @include device(mobile) {
    display: flex;
  }
  & > button:not(:first-child) {
    margin-left: 20px;
  }
  & > button {
    height: 55px;
    width: 270px;
    @include device(mobile) {
      width: 150px;
      height: 45px;
    }
  }
}
