@import "../../../node_modules/sass-mediascreen/mediascreen";

.container {
  padding: 30px 20px;
  & > .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
    @include device(mobile) {
      flex-direction: column;
    }

    & > .top__textArea {
      width: 400px;
      @include device(mobile) {
        width: 320px;
        margin-bottom: 15px !important;
      }
    }
  }
}

.header {
  display: flex;
  justify-content: flex-end;
}
